{% extends "base.html" %}

{% block title %} Arduino {% endblock %}


{% block page_content %}


<script type=text/javascript src=" {{url_for('static', filename='js/vendor/jquery-1.10.2.min.js') }}">
</script>

<script>
var my_alert = function(msg) {
  $("#warning").append(
    '<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>' + msg +
      '</div>'
  );
}
</script>

<script type=text/javascript>

var deleteSketch = function(id) {
  $.ajax({
    url: '/api/v1.0/sketches/' + id + '/',
    type: 'DELETE',
    success: function(result) {
      console.log("deleted");
      load_sketches();    
    }
  });
}

var deleteAll = function() {
  $.ajax({
    url: '/api/v1.0/sketches/',
    type: 'DELETE',
    success: function(result) {
      console.log("deleted");
      load_sketches();
    }
  });
}

var addSketch = function() {
  var sketch_to_send = {
    title: $("#newTitle").val(), 
  }
  console.log(sketch_to_send)

  $.ajax({
    url: '/api/v1.0/sketches/',
    type: 'POST',
    contentType: "application/json",
    data: JSON.stringify(sketch_to_send),
    success: function(result) {
      console.log("added");
      load_sketches();
    },
    error: function(e) {
      my_alert(e);
    }
  });
}

var show_sketches = function(sketches) {
  for ( i = 0; i < sketches.length; i+=1) {
    s = sketches[i]

    $('#sketchesList').append(
      '<tr>' +
      '<td>' + s.id + '</td>' +
      '<td>' + s.title + '</td>' +
      '<td>' + moment(s.last_edit).format('LLL') + '</td>' + 
      '<td>'+
      '<div class="btn-group" role="group">'+
      '<a class="btn btn-mini btn-default " href="/edit/'+ s.id +'" >Edit</a>'+
      '<button class="btn btn-mini btn-danger " type="button" onclick="deleteSketch(' +s.id + ')">Delete</button> </div></td>'+
      '</tr>'
      );
  }
}

var load_sketches = function () {
  $('#sketchesList').empty() ;
  $.ajax({
    url: '/api/v1.0/sketches/',
    type: 'GET',
    success: function(data) {
      show_sketches(data["sketches"])
    }
  });
}

$(load_sketches());

</script>

  <div class="page-header">
    <h1>Sketches</h1>
  </div>
 
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Sketches List</div>
    <!-- Table -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Title</th>
          <th>Last Edit</th>
          <th>Actions</th>
          <!--td><button type="button" onclick="deleteAll()">Delete All</button-->
            <!--tr>
              <th></th>
              <th><input type="text" id="newTitle"></th>
              <th></th>
              <td><button type="button" onclick="addSketch()">Add</button> </td>
            </tr-->
          </thead>
          <tbody id="sketchesList">
          </tbody>
        </table>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
   <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="New Title" id="newTitle">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="addSketch()">New</button>
      </span>
    </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>
</div>
  {% endblock %}
